<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Tokyo 2022 Olympics</title>
    <link rel="stylesheet" href="{{ app_url('static/css/main.css') }}">
    <style>
        body {
            text-align: center;
        }

        img {
            height: 30px; 
            vertical-align: middle;
            margin-right: 5px; 
        }
        .centered-image {
            display: block;
            margin: 0 auto; 
            max-width: 100%; 
            height: auto; 
        }
    </style>
</head>
<body class="page">
    <h1>Welcome to Tokyo 2021 Olympics!</h1>

    <div class="top-right">
        {% if user_logged_in %}
            <span class="user-info">Welcome, {{ user_name }}</span>
            <button class="button" onclick="location.href='{{ app_url('logout') }}'">Logout</button>
        {% else %}
            <button class="button" onclick="location.href='{{ app_url('login') }}'">Login</button>
        {% endif %}
    </div>

    <button class="button" onclick="location.href='{{ app_url('search') }}'">Search</button>
    <button class="button" onclick="location.href='{{ app_url('like') }}'">Liked</button>
    <button class="button" onclick="location.href='{{ app_url('advInfo') }}'">More Information</button>
    <img src="{{ app_url('static/images/index_pic.png') }}" alt="Tokyo2021" class="centered-image">
</body>
</html>
